<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    admin


    <script src="{{ CDN_HOST }}/js/shared.js"></script>
    <script>
        async function getData(){
            const data = await jsonQuery("{{ API_HOST }}/admin/get-users")
            console.log(data)
        };


        getData()
        
    </script>
</body>
</html>