# General server config
PORT="4000"

# Random string to identify the server signature in cookie auth.
# Generate with 'node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"'
SESSION_SECRET=""

# MySQL config
DB_HOST="127.0.0.1"
DB_USER=""
DB_PASS=""
DB_ROOT_PASS=""
DB_NAME=""

# Export db as
# mysqldump -u root -p --no-data --default-character-set=utf8mb4 social_platform > schema.sql

# Production address, for setting CORS origin
PROD_URL="https://domainname.com"
CDN_URL="https://cdn.domainname.com"