{# Header #}
{% set _header %}
    <link rel="stylesheet" href="/css/feed.css">
    <link rel="stylesheet" href="/css/postmaker.css">

    <!-- Include videojs 10 -->
    {% if NODE_ENV == '// development' %} 
        <script type="module" src="{{ CDN_HOST }}/js/video-bundle.js"></script>
    {% else %} 
        <script type="module" src="{{ CDN_HOST }}/dist/video-bundle.js"></script> 
    {% endif %}

    <!-- Include postCard template -->
    {% if NODE_ENV == '// development' %} 
        <script type="module" src="{{ CDN_HOST }}/js/nunjucks-bundle.js"></script>
    {% else %} 
        <script type="module" src="{{ CDN_HOST }}/dist/nunjucks-bundle.js"></script> 
    {% endif %}

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@videojs/html/cdn/video.css"> -->
    <link rel="stylesheet" href="{{ CDN_HOST }}/css/video-minimal-skin.css">
{% endset %}


{# Define DOM per unique displayType #}
{% macro _dom(feedType = "all") %}
    {% if feedType != "detailed" %}
        <div class="posts" data-feed="{{ feedType }}" id="posts"></div>
        <div class="sentinel" data-feed="{{ feedType }}"></div>
    {% endif %}
    

    {% if feedType == "detailed" %}
        <div id="commentsContainer">
            <hr class="after-post"><br>
            {% include "partials/postmaker.njk" %}

            <div class="posts" data-feed="comments" id="posts"></div>
            <div class="sentinel" data-feed="comments"></div>        
        </div>
    {% endif %}
{% endmacro %}


{# Shared code #}
{% macro _script(data = {}) %}
    <script src="{{ CDN_HOST }}/js/video-maker.js"></script>
   
    <script>
        function createNJKPostCard(data){
            // Conversion, unify backend naming convention instead in the future
            data.avatar = data.profile_pic;
            data.author_name = data.username;

            let elem = nunjucks.renderString(postCard, {
                "post": data,
                "CDN_HOST": '{{ CDN_HOST }}'
            })
            // console.log(elem)
            return elem;
        };
    </script>


    <script>
        async function loadPosts(feed_container, posts = []){
            posts.forEach(post => {
                // If it doesn't exist stop trying to make it exist
                if (!post) return;
                
                // if (post?.profile_pic) post.profile_pic = '{{ CDN_HOST }}/profile_images/'+post.profile_pic; feed_container.appendChild(createPostElement(post, feed_container));
            
                feed_container.innerHTML += (createNJKPostCard(post));
            });
        };

        async function fetchPosts(feed_type, last_post_id = null){
            let response;
            const postID = "{{ data.post_id }}" || null;
            
            const formData = {
                "last_post_id": last_post_id,
                "post_id": postID,
                "author_name": '{{ data.profile_username }}',
                "page_type": feed_type
            };

            
            try{
                response = await fetch('/api/get-posts', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(formData)
                });

                if (!response.ok) throw new Error('Network error');

                return response;
            }catch (error) {
                console.error('Error fetching posts:', error);
                return {};
            };
            
        };

        // Assemble and run everything
        async function loadNewPosts(sentinelDOM){
            // Determine the type of the feed, either "all", "following", "likes" or "bookmarks"
            const feed_type = sentinelDOM.getAttribute('data-feed');

            // Get the appropiate container for the feed
            const feed_container = document.querySelector(`.posts[data-feed="${feed_type}"]`);
            const page_type = feed_container?.getAttribute('data-page');

            let last_post_id = feed_container?.lastElementChild?.getAttribute('post-id') || null;

            const response = await fetchPosts(feed_type, last_post_id);

            const posts = await response?.json();            
            

            // Load posts
            if (posts?.length) await loadPosts(feed_container, posts);;


            // If server returns less than 10 posts there isn't any posts left to display
            if (posts?.length < 10 || !posts?.length ) {
                
                // Disposal
                observer.unobserve(sentinelDOM);
                sentinelDOM.remove();
                if (!document.querySelector('.sentinel')) observer.disconnect();

                let text_paragraph = document.createElement("p");
                text_paragraph.classList.add("feed-end");
                text_paragraph.style.textAlign = "center";

                if (feed_container.childElementCount == 0) {
                    if (feed_type == "following") {
                        text_paragraph.innerText = "You're not following anyone";  
                    }else if (feed_type == "bookmarks") {
                        text_paragraph.innerText = "You haven't bookmarked anything"; 
                    } else if (feed_type == "likes") {
                        text_paragraph.innerText = "You haven't liked anything"; 
                    } else if (feed_type == "all") {
                        text_paragraph.innerText = "No posts so far";
                    } else if (feed_type == "profile") {
                        text_paragraph.innerText = "No posts so far";
                    } else if (feed_type == "replies") {
                        text_paragraph.innerText = "No posts so far";
                    }else {
                        text_paragraph.innerText = "You've reached the end";
                    };
                } else {
                    text_paragraph.innerText = "You've reached the end";
                };
                

                // Don't add if feed type is detailed or comments.
                if (!["detailed"].includes(feed_type)){
                    feed_container?.appendChild(text_paragraph);
                }
                
                return;
            };
        };


        const observerLoading = new WeakMap();
        const observer = new IntersectionObserver(async (entries) => {
            for (const entry of entries){
                if (!entry.isIntersecting || observerLoading.get(entry.target)) continue;

                observerLoading.set(entry.target, true);
                observer.unobserve(entry.target);

                // Run the logic required to fetch and display new posts
                await loadNewPosts(entry.target);
                
                observer.observe(entry.target);
                observerLoading.set(entry.target, false);
            };
        }, {
            threshold: 0.0
        });


        async function initWindow(){
            document.querySelectorAll('.sentinel').forEach((el) => {
                observerLoading.set(el, false);
                observer.observe(el);
            });
        };


        // Call fetchPosts when the page loads
        window.onload = initWindow;
    </script>
{% endmacro %}


{# Export self as object #}
{% set feed = {
    style: _header,
    dom: _dom,
    script: _script
} %}
