<div class="post{% if postType == 'detailed' %} detailed-view{% endif %}" post-id="{{ post.post_id }}" post-url="/u/{{ post.author_username }}/post/{{ post.post_id }}">
    
    <div class="post-header" style="height: auto; overflow: hidden;">
        <a href="/u/{{ post.author_username }}" draggable="false">
            <img class="inline-pfp" src="{{ ( CDN_HOST + '/profile_images/' + post.avatar) if post.avatar else CDN_HOST + '/images/default.jpg' }}"
            ><span class="displayname">{{ post.author_displayname }}</span
            ><span class="username">@{{ post.author_username }}</span
        ></a>
            
        <span style="float:right;">
            <small>{{ post.publish_date | date }}</small>
        </span>
        <br>
        {% if ( user.id == post.author_id and postType == "detailed" ) %}
            <button class="deleteButton" type="submit">Delete Post</button>
        {% endif %}
    </div>
    {% if post.content %}
        <span>{{ post.content }}</span>
    {% endif %}
    
    {% if post.media %}
        <div class="gallery" media-count="{{ post.media | json | length }}">
            {% for image in post.media | json %}
                <img src="{{ CDN_HOST }}/media/{{ image }}">
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="action-buttons">
        <button 
        {% if user.id %} data-action="like" 
        {% else %} data-action="none"
        {% endif %}
        {% if post.isLiked %} class="isLiked" {% endif %} 
        >Like {{ post.like_count }}</button>
        
        <button
        {% if not user.id %} data-action="none" 
        {% endif %}
        >Reply {{ post.comment_count }}
        </button>

        <button 
        {% if user.id %} data-action="repost" 
        {% else %} data-action="none"
        {% endif %}
        >Repost</button>
        
        <button 
        {% if user.id %} data-action="bookmark" 
        {% else %} data-action="none"
        {% endif %}
        {% if post.isBookmarked %} class="isBookmarked" {% endif %} 
        >Bookmark</button>
    </div>
</div>