{% extends "base.njk" %}


{% from "partials/feed.njk" import feed %}


{% block head %}
    
    {{ feed.style | safe }}

{% endblock %}


{% block content %}
    {{ feed.dom("bookmarks") }}
{% endblock %}


{% block script %}

    {{ feed.script({"user_id": user.id}) }}
    <script src="{{ CDN_HOST }}/js/postCard.js"></script>

{% endblock %}