{% extends "base.njk" %}


{% from "partials/feed.njk" import feed %}


{% block head %}
    
    {{ feed.style | safe }}

{% endblock %}


{% block content %}
    {{ feed.dom("bookmarks") }}
{% endblock %}


{% block script %}

    {{ feed.script() }}

{% endblock %}