{% extends "base.njk" %}

{% from "partials/feed.njk" import feed %}

{% block head %}
    <link rel="stylesheet" href="/css/index.css">
    
    {{ feed.style | safe }}

{% endblock %}

{% block content %}
    <div id="feedToggle" class="tab">
        <button class="tablinks active-tab" onclick="toggleTab(event, 'Global')">All</button>
        <button class="tablinks" {% if not user %}disabled{% endif %} onclick="toggleTab(event, 'Following')">Following</button>
    </div>

    {% if user and user.id %}
        {% include "partials/postmaker.njk" %}
    {% endif %}
    
    <style>
        .tabcontent { display: none; }
    </style>
    

    <div id="Global" class="tabcontent">
        {{ feed.dom("all") }}
    </div>

    <div id="Following" class="tabcontent">
        {{ feed.dom("following") }}
    </div>

    
{% endblock %}

{% block script %}

    {{ feed.script({"user_id": user.id}) }}
    <script src="{{ CDN_HOST }}/js/postCard.js"></script>

    {% include "partials/tabs.njk" %}
{% endblock %}