{% extends "base.njk" %}

{% from "partials/feed.njk" import feed %}

{% block head %}
    <link rel="stylesheet" href="/css/index.css">

    {{ feed.style | safe }}

{% endblock %}

{% block content %}
    
    {% if post %}
        {{ feed.dom("detailed")}}
        
    {% else %}
        <div class="missing">
            Post not found
        </div>
    {% endif %}
    
{% endblock %}


{% block script %}

    {{ feed.script({"post_id": post.post_id, "user_id": user.id})}}

{% endblock %}