{% extends "base.njk" %}

{% from "partials/feed.njk" import feed %}

{% block head %}
    <link rel="stylesheet" href="/css/index.css">

    {{ feed.style | safe }}

{% endblock %}

{% block content %}
    {% if post %}
        <div id="posts" class="posts">
            <div class="postContainer detailed-view" post-id="{{ post.post_id }}">
                {% include "partials/postCard.njk" %}
            </div>
        </div>

        {{ feed.dom("detailed")}}
    {% else %}
        <div class="missing">
            Post not found
        </div>
    {% endif %}
    
{% endblock %}


{% block script %}

    {{ feed.script({"post_id": post.post_id, "user_id": user.id})}}

{% endblock %}