{% extends "base.njk" %}

{% from "partials/feed.njk" import feed %}

{% block head %}
    <link rel="stylesheet" href="/css/profile.css">

    {% if profile.banner %}
        <style>
            .banner{
                background-image: url("{{ CDN_HOST + '/profile_images/' + profile.banner }}");
            }
        </style>
    {% endif %}

    {{ feed.style | safe }}
{% endblock %}

{% block content %}
    {% if profile %}
        <div class="banner-container">
            <div class="banner"></div>
            {% if profile.user_id == user.id %}
                <button id="updateBanner">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="52" height="52" viewBox="0 0 64 64">
                        <path fill="white" d="M49,13c3.314,0,6,2.686,6,6v26c0,3.314-2.686,6-6,6H15c-3.314,0-6-2.686-6-6V19c0-3.314,2.686-6,6-6H49z M23,23	c-2.209,0-4,1.791-4,4c0,2.209,1.791,4,4,4c2.209,0,4-1.791,4-4C27,24.791,25.209,23,23,23z M51,45v-3.566l-9.319-8.38	c-1.524-1.37-3.836-1.367-5.356,0.006l-7.922,7.158l-3.793-3.244c-1.501-1.284-3.714-1.28-5.211,0.009L13,42.496V45	c0,1.105,0.895,2,2,2h34C50.104,47,51,46.105,51,45z"></path>
                    </svg>
                </button>
            {% endif %}
        </div>
        
        <div class="profile_view">
            <div class="pfp_container">
                <img class="large_pfp" src="{{ ( CDN_HOST + '/profile_images/' + profile.profile_pic) if profile.profile_pic else CDN_HOST + '/images/default.jpg' }}">
                {% if profile.user_id == user.id %}
                    <button id="updatePFP">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="52" height="52" viewBox="0 0 64 64">
                            <path fill="white" d="M49,13c3.314,0,6,2.686,6,6v26c0,3.314-2.686,6-6,6H15c-3.314,0-6-2.686-6-6V19c0-3.314,2.686-6,6-6H49z M23,23	c-2.209,0-4,1.791-4,4c0,2.209,1.791,4,4,4c2.209,0,4-1.791,4-4C27,24.791,25.209,23,23,23z M51,45v-3.566l-9.319-8.38	c-1.524-1.37-3.836-1.367-5.356,0.006l-7.922,7.158l-3.793-3.244c-1.501-1.284-3.714-1.28-5.211,0.009L13,42.496V45	c0,1.105,0.895,2,2,2h34C50.104,47,51,46.105,51,45z"></path>
                        </svg>
                    </button>
                {% endif %}
            </div>
            
            <div class="profile_buttons">
                {% if profile.user_id == user.id %}
                    <button onclick="window.location = '/settings'" type="submit">
                        Settings
                    </button>
                    
                {% endif %}
                {% if profile.user_id != user.id %}
                    <button {% if not user %}disabled{% endif %} id="follow">{% if is_following %}Following{% else %}Follow{% endif %}</button> 
                    <button {% if not user %}disabled{% endif %} >Message</button>
                {% endif %}
            </div>

            {% if profile.user_id == user.id %}
                <span id="displayName" class="profile_displayname profile-editable">
                    {{ profile.display_name }}<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd"><path d="m0 0h32v32h-32z"/><path d="m13.4972619-.65685425h4c1.1045695 0 2 .8954305 2 2v23.66314045c0 .6440327-.1555097 1.2785431-.4533088 1.8495895l-3.0006899 5.7539905c-.153225.2938175-.5156245.4077902-.8094421.2545652-.1127518-.0587998-.2039066-.1519019-.2603101-.2658713l-3.0612398-6.1855586c-.2729885-.5516022-.4150093-1.1587586-.4150093-1.7742159v-23.29563985c0-1.1045695.8954305-2 2-2z" fill="#202327" transform="matrix(.70710678 .70710678 -.70710678 .70710678 16.206305 -6.125481)"/></g>
                    </svg>
                </span>
                <input type="text" id="updateDisplayName" value="{{ profile.display_name }}" autocomplete="false">
                <button id="nameConfirm">Confirm</button>
                <button id="nameCancel" class="button-danger">Cancel</button>
            {% else %}
                <span class="profile_displayname">{{ profile.display_name }} </span>
            {% endif %}

            <span class="profile_username">@{{ profile.username }}</span>
                
            {% if profile.user_id == user.id %}
                <span id="bio" class="profile_about profile-editable">
                    {{ profile.about | default('This user has yet to tell about themselves', true) }}<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd"><path d="m0 0h32v32h-32z"/><path d="m13.4972619-.65685425h4c1.1045695 0 2 .8954305 2 2v23.66314045c0 .6440327-.1555097 1.2785431-.4533088 1.8495895l-3.0006899 5.7539905c-.153225.2938175-.5156245.4077902-.8094421.2545652-.1127518-.0587998-.2039066-.1519019-.2603101-.2658713l-3.0612398-6.1855586c-.2729885-.5516022-.4150093-1.1587586-.4150093-1.7742159v-23.29563985c0-1.1045695.8954305-2 2-2z" fill="#202327" transform="matrix(.70710678 .70710678 -.70710678 .70710678 16.206305 -6.125481)"/></g>
                    </svg>
                </span>
                
                <textarea type="text" id="updateAbout" autocomplete="false"></textarea>
                <button id="bioConfirm">Confirm</button>
                <button id="bioCancel" class="button-danger">Cancel</button>
            {% else %}
                <span class="profile_about">{{ profile.about | default('This user has yet to tell about themselves', true) }}</span>
            {% endif %}
            
            <br>
            <a class="follow-indicator" href="/u/{{ profile.username}}/following">{{ profile.following_count }}<span>Following</span></a><a class="follow-indicator" href="/u/{{ profile.username}}/followers">{{ profile.follower_count }}<span>Followers</span></a>

        </div>
        <hr><br>

        <div id="feedToggle" class="tab">
            <button id="feed_posts" class="tablinks" onclick="toggleTab(event, 'posts-tab'); history.replaceState({}, '', '/u/{{ profile.username }}');">Posts</button>
            <button id="feed_replies" class="tablinks" onclick="toggleTab(event, 'replies-tab'); history.replaceState({}, '', '/u/{{ profile.username }}/replies');">Replies</button>
            {% if profile.user_id == user.id %} <button id="feed_likes" class="tablinks" onclick="toggleTab(event, 'likes-tab'); history.replaceState({}, '', '/u/{{ profile.username }}/likes');">Likes</button>{% endif %}
        </div>


        <div id="posts-tab" class="tabcontent">
            {{ feed.dom("profile")}}
        </div>

        <div id="replies-tab" class="tabcontent">
            {{ feed.dom("replies") }}
        </div>

        {% if profile.user_id == user.id %} 
            <div id="likes-tab" class="tabcontent">
                <span class="feed-info">ⓘ Your likes are only visible to you.</span>
                
                {{ feed.dom("likes") }}
            </div>
        {% endif %}
    {% else %}

        <h2>Error</h2>
        <p>Profile not found</p>
        
    {% endif %}

{% endblock %}

{% block script %}

    {{ feed.script({"profile_username": profile.username}) }}

    {% if profile %}
        <script>
            const feed_posts = document.getElementById('feed_posts');
            const feed_replies = document.getElementById('feed_replies');
            const feed_likes = document.getElementById('feed_likes');

            function setState(elm, tabName){
                tabcontent = document.getElementsByClassName("tabcontent");

                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                };

                tablinks = document.getElementsByClassName("tablinks");

                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].classList.remove("active-tab");
                };

                document.getElementById(tabName).style.display = "block";
                elm.classList.add("active-tab");
            };

            function initState(){
                const path_name = document.location.pathname;

                if (path_name.endsWith('/replies')){
                    setState(feed_replies, 'replies-tab');
                } else if (path_name.endsWith('/likes')){
                    setState(feed_likes, 'likes-tab');
                } else{
                    setState(feed_posts, 'posts-tab');
                }
            };

            window.addEventListener('popstate', () => {
                window.scrollTo({ top: 0 });
                initState();
            });

            initState();
        </script>

        <!-- If profile is self -->
        {% if profile and profile.user_id == user.id %}
            <script>
                // Name change vars
                const displayName = document.getElementById("displayName");
                const displayNameField = document.getElementById("updateDisplayName");
                const nameConfirm = document.getElementById("nameConfirm");
                const nameCancel = document.getElementById("nameCancel");
                let initialName = '{{ profile.display_name }}';

                // Bio change vars
                const bio = document.getElementById("bio");
                const bioField = document.getElementById("updateAbout");
                const bioConfirm = document.getElementById("bioConfirm");
                const bioCancel = document.getElementById("bioCancel");
                let initialBio = '{{ profile.about }}';
                bioField.value = initialBio;
            </script>
            <!-- Update Display Name -->
            <script>
                displayName.onclick = function(){
                    displayName.style.display = "none";
                    displayNameField.style.display = "inline-block";

                    nameConfirm.style.display = "inline-block";
                    nameCancel.style.display = "inline-block";

                    displayNameField.focus();
                    const valLength = displayNameField.value.length;
                    displayNameField.setSelectionRange(valLength, valLength);
                };

                nameConfirm.onclick = async function(){
                    const result = await jsonQuery('/api/update-data', JSON.stringify({"displayname": displayNameField.value}));
                    if (result.ok != true) return;

                    displayName.innerText = displayNameField.value;
                    initialName = displayNameField.value;

                    // Update header usercard
                    document.getElementById("cardDisplayName").innerText = displayNameField.value;
                    

                    displayName.style.display = "inline-block";
                    displayNameField.style.display = "none";

                    nameConfirm.style.display = "none";
                    nameCancel.style.display = "none";
                };

                nameCancel.onclick = function(){
                    displayNameField.value = initialName;

                    displayName.style.display = "inline-block";
                    displayNameField.style.display = "none";

                    nameConfirm.style.display = "none";
                    nameCancel.style.display = "none";
                };
            </script>

            <!-- Update Bio -->
            <script>
                
                bio.onclick = function(){
                    bio.style.display = "none";
                    bioField.style.display = "block";

                    bioConfirm.style.display = "inline-block";
                    bioCancel.style.display = "inline-block";

                    bioField.focus();
                    const valLength = bioField.value.length;
                    bioField.setSelectionRange(valLength, valLength);
                };

                bioConfirm.onclick = async function(){
                    const result = await jsonQuery('/api/update-data', JSON.stringify({"about": bioField.value}));
                    if (result.ok != true) return;

                    if(bioField.value === ''){
                        bio.innerText = 'This user has yet to tell about themselves';
                    }else{
                        bio.innerText = bioField.value;
                    };
                    initialBio = bioField.value;
                    
                    bio.style.display = "inline-block";
                    bioField.style.display = "none";

                    bioConfirm.style.display = "none";
                    bioCancel.style.display = "none";
                };

                bioCancel.onclick = function(){
                    bioField.value = initialBio;

                    bio.style.display = "inline-block";
                    bioField.style.display = "none";

                    bioConfirm.style.display = "none";
                    bioCancel.style.display = "none";
                };
            </script>

            <!-- Update Banner and Avatar -->
            <script>
                const updatePFP = document.getElementById("updatePFP");
                const updateBanner = document.getElementById("updateBanner");

                async function inputImage(address){
                    var input = document.createElement('input');
                    input.type = 'file';
                    input.accept = '.png, .jpg, .jpeg'

                    input.onchange = async function(e) {
                        var file = e.target.files[0];
                        if (!file) return;
                        
                        var formData = new FormData();
                        formData.append('picture', file);
                        console.log(file)
                        
                        await uploadImage(address, formData);
                    };

                    input.click();
                };

                updatePFP.onclick = async function(){
                    await inputImage('/api/update-pfp');
                };

                updateBanner.onclick = async function(){
                    await inputImage('/api/update-banner');
                };

                async function uploadImage(address, formData) {
                    try {
                        const response = await fetch(address, {
                            method: 'POST',
                            body: formData,
                        });

                        const result = await response.json();
                        console.log('Success:', result);
                        if (result["ok"] === true){
                            window.location.reload();
                        }
                    } catch (error) {
                        console.error('Error uploading:', error);
                    };
                };
            </script>
        {% endif %}


        {% if profile.user_id != user.id %}
            <!-- Script to follow if profile is able to be followed -->
            <script>
                const follow_button = document.getElementById('follow');

                follow_button.onclick = async function(){
                    if (follow_button.innerText == "Follow"){
                        // Request and return if un ok
                        const result = await jsonQuery('/api/follow-user', JSON.stringify({"user_id": '{{ profile.user_id }}'}));
                        if (!result?.ok == true){ return };

                        follow_button.innerText = "Following"

                        // Add mouseover functions for UX
                        follow_button.onmouseover = function(){ follow_button.innerText = "Unfollow" };
                        follow_button.onmouseleave = function(){ follow_button.innerText = "Following" };
                    }else{
                        // Request and return if un ok
                        const result = await jsonQuery('/api/follow-user', JSON.stringify({"user_id": '{{ profile.user_id }}'}));
                        if (!result?.ok == true){ return };

                        // Remove mouseover functions
                        follow_button.onmouseover = null;
                        follow_button.onmouseleave = null;

                        // Update Text
                        follow_button.innerText = "Follow"
                    };
                };

                // If following on page load at mouse over functions
                if (follow_button.innerText != "Follow"){	
                    follow_button.onmouseover = function(){ follow_button.innerText = "Unfollow" };
                    follow_button.onmouseleave = function(){ follow_button.innerText = "Following" };	
                }
            </script>
        {% endif %}
    {% endif %}

    {% include "partials/tabs.njk" %}

{% endblock %}

