{% extends "base.njk" %}

{% block head %}
    <link rel="stylesheet" href="/css/settings.css">
{% endblock %}

{% block content %}
    <div id="settings-container">
        <img style="float: left" class="large_pfp" src="{{ ( CDN_HOST + '/profile_images/' + user.profile_pic) if user.profile_pic else CDN_HOST + '/images/default.jpg' }}">

            
        <!-- {{ profile.about | default('This user has yet to tell about themselves', true) }}  -->
        
        <table style="float: left;">
            <tr>
                <td>Username </td>
                <td><input id="username" type="text" autocomplete="off" value="{{ user.username }}"></td>
            </tr>
            <!-- <tr>
                <td>Display Name =</td>
                <td><input disabled value="{{ credentials.displayname }}"> </td>
            </tr> -->
            <tr>
                <td>Email </td>
                <td><input id="email" type="email" autocomplete="off" value="{{ credentials.email }}"> </td>
            </tr>
            <!-- <tr>
                <td>About =</td>
                <td><input disabled value="{{ credentials.about }}"> </td>
            </tr> -->
            
        </table>
        <br><br>
        <div style="float: left; margin-top: 20px;">
            <button id="confirm_button" autocomplete="off">Update Settings</button>
            <button autocomplete="off" style="margin-left: 10px;" class="button_danger" onclick="jsonQuery('/api/delete-account').then (() => window.location = '/')">Delete Account</button>    
        </div>
        <br><br><br><br>

        <p style="margin-top:20px; margin-left: 10px;" id="result"></p>
    </div>

    <script>
        const username = document.getElementById("username");
        const email = document.getElementById("email");

        const confirmButton = document.getElementById("confirm_button");

        const result = document.getElementById('result')

        let initialValues = {
            "email": email.value,
            "username": username.value
        };


        function valuesChanged(){
            if ( (username.value == initialValues.username) && (email.value == initialValues.email) ){
                return false;
            }else{
                return true;
            };
        }

        username.oninput = function(){
            confirmButton.disabled = !valuesChanged();
        };
        
        email.oninput = function(){
            confirmButton.disabled = !valuesChanged();
        };

        confirmButton.onclick = async function(){
            let formData = {};

            if ( username.value != initialValues.username ){
                formData.username = username.value;
            };

            if ( email.value != initialValues.email ){
                formData.email = email.value;
            };

            console.log(formData);
            let answer = await jsonQuery('/api/update-data', JSON.stringify(formData));

            if (answer.ok == true){
                result.innerText = 'Your details have been updated';

                initialValues = {
                    "email": email.value,
                    "username": username.value
                };

                confirmButton.disabled = true;
            } else {
                if (answer.details.includes("username")){
                    result.innerText = 'A user with the same username exists';
                }else if (answer.details.includes("email")){
                    result.innerText = 'A user with the same email already exists';
                }else{
                    result.innerText = 'A user with the same username and email already exists';
                };
            };
        };

    </script>
    
{% endblock %}
