.inline-pfp{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    
    /* border: 1px solid black; */
    vertical-align: top;
    margin-right: 15px;
    object-fit: cover;
}

#posts{
    /* background-color: #ffffff; */
    border: none !important;
    text-align: left;
    margin: 10px 0;
}

#posts:first-child{
    margin: 0px;
}

#posts .post{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

#posts .post a{
    color: black; 
    text-decoration: none;
}

#posts #gallery{
    border-radius: 5px;
    width: auto;
    margin: 0px;
    padding: 0px;    
    margin-top: 25px;
}

#posts #gallery{
    transform: none
}

#posts #gallery > img{
    object-fit:contain;
    max-width: 100%;
    max-height: 510px;
    display: block;
}

#posts .post > span{
    margin: 0px;
    margin-top: 20px;
    display: inline-block;
    white-space: pre-wrap;
}

#posts .deleteButton{
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    
    margin-top: 8px;
}

#posts .deleteButton:hover{
    background-color: rgb(223, 83, 83);
    color: white;
}

#posts .post .action-buttons{

    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));

    margin-top: 20px;
    gap: 10px;
}

#posts .post .action-buttons button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    
    width: 100%;
    
}

#posts #gallery > img:only-of-type{
    border-radius: 5px;
}

#posts > .post .content{
    align-self:flex-start;
    width: 100%;
    box-sizing: border-box;
    
    text-align: left;
    display: inline-block;
    padding: 10px;
}


.postContainer{
    box-sizing: border-box;
    
    display: block;
    padding: 10px;

    margin-top: 15px;
    margin-bottom: 15px;

    width: 100%;

    border-radius: 5px;

    background-color: #ffffff; 
}

.postContainer:not(.detailed-view):hover{
    cursor: pointer;
    background-color: #f7f7f7;
}

.postContainer.detailed-view:hover{
    background-color: #ffffff; 
}

.postContainer:first-of-type{
    margin-top: 0px;
}

.postContainer:last-of-type{
    margin-bottom: 0px;
}

.isLiked{
    color: rgb(52, 173, 52);
}

.isBookmarked{
    color: rgb(34, 123, 196);
}


hr{
    color: red;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 2px;
}

.feed-end{
    margin-top: 40px;
    margin-bottom: 30px;
}