#feedToggle{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    gap: 10px;
}

#feedToggle > button{
    height: 28px;
    border-radius: 6px;

    border: none;
}

#feedToggle > button.active:not([disabled]){
    background-color: #007bff;
    color:white;   
    cursor: grab !important;
}


.active-tab{
    background-color: #5ba3f0;
    color: white;
}