#feedToggle{
    top: 75px;
    position: sticky;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    gap: 10px;

    box-shadow: 0 0 0 8px #f1f1f1;

    background-color: #f1f1f1;
    margin-top: -3px;
}

#feedToggle > button{
    height: 24px;
    border-radius: 6px;

    border: none;
}

#feedToggle > button.active:not([disabled]){
    background-color: #007bff;
    color:white;   
    cursor: grab !important;
}


.active-tab{
    background-color: #5ba3f0;
    color: white;
}

@media (width < 800px) {
    #feedToggle{
        top: 55px;
    }
}