#feedToggle{
    top: 74px;
    position: sticky;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin-bottom: 17px;
    gap: 10px;

    box-shadow: 0 0 0 8px #f1f1f1;

    background-color: #f1f1f1;
    margin-top: -4px;
}

#feedToggle > button{
    height: 24px;
    border-radius: 6px;

    border: none;
}




.active-tab:not([disabled]){
    background-color: #5ba3f0;
    color: white;
}

#feedToggle > button.active-tab:not([disabled]):hover{
    background-color: #4c97e7;
}

@media (width < 800px) {
    #feedToggle{
        top: 55px;
    }
}