.postMaker{
    width: 100%;
    /* border: 1px solid #ddd; */
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #f9f9f9; 

    margin-top: 10px;
    box-sizing: border-box;
}

.postMaker .button{
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 12px;
    background-color: #007bff;
}

.postMaker .button:hover{
    background-color: #0074f0;
}

.postMaker #textarea{
    width: 100%; 
    height: 80px; 
    padding: 10px; 
    border: 0px solid #ccc; 
    background-color: rgb(245, 245, 245);
    border-radius: 4px; 
    box-sizing: border-box; 
    resize: vertical;
}

.postMaker #textarea:focus{
    outline: none;
}


#media-button{
    font-size: small;
    margin-right: 10px;
    user-select: none;
}

.postMaker #mediaPreview > div{
    display: contents;
}

.postMaker #mediPreview > div > span{
    display: block;
}


