.large_pfp{
    width: 100px;
    height: 100PX;
    border: 3px solid rgb(180, 180, 180);
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
}

#settings-container{
    text-align: left;
    box-sizing: border-box;
    padding: 40px;
    width: 100%; background-color: rgb(255, 255, 255);
    overflow: auto;
    
}

table{
    width: 500px;
    margin-top: 2px;
    
}


#result{
    display: block;
}


#result.fail{
    color: #df5367;
}
