@font-face {
    font-family: 'Montserrat';
    src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

html {
  scrollbar-gutter: stable both-edges;
}

:root{
    --body-width: 770px;

    --radius: 5px; 
}

*{
    font-family: 'Montserrat';
}


body{
    margin: 0;
    background-color: #e2e2e2;
}


body > main{
    margin-top: 30px;
    border-radius: 5px;
    
    padding: 10px;
    background-color: #f1f1f1;
    box-sizing: border-box;
    text-align: center;

    
    width: var(--body-width);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;

    min-height: calc(100dvh - 85px);
}

button:not([disabled]){
    background-color: #e9e9ed;
    border: none;
    border-radius: 5px;
    padding: 3px 8px;
    cursor: pointer;
}

button:disabled{
    color: rgb(82, 82, 82);
    padding: 1px 6px;
}

button:not([disabled]):hover{
    background-color: #d0d0d7;
}

.button_danger:not([disabled]):hover{
    background-color: #df5367;
    color: white;
}



.header-bg{
    position: fixed;
    width: calc(var(--body-width) + 2px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #e2e2e2;
    
    top: 0px;
    height: 67px;
    z-index: 1;
    
}

header{
    height: 37px;
    position: sticky;
    width: 15%;
    
    background-color: #f1f1f1;
    border-radius: 5px;

    top: 20px;

    width: var(--body-width);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;


    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    padding: 6px 2px;   

    box-sizing: border-box;

    user-select: none;
}

header > div {
    justify-content: center;
}

header > div:first-of-type{
    margin-left: 10px;
    justify-self: start;
}

header > div:last-of-type{
    display: flex;
    gap: 4px;
    justify-self: end;
    text-align: right;
    
    margin-right: 10px;
}

header::before,
header::after {
  content: "";
  position: absolute;
  bottom: calc( ( var(--radius) * -1 ) - 10px); 
  
  width: var(--radius);
  height: var(--radius);
}

/* Left Inverted Corner */
header::before {
  left: 0;
  background: radial-gradient(circle at bottom right, #f1f1f1 var(--radius), #e2e2e2 0);
}

/* Right Inverted Corner */
header::after {
  right: 0;
  background: radial-gradient(circle at bottom left, #f1f1f1 var(--radius), #e2e2e2 0);
}



.header-pfp{
    width: 20px;
    height: 20px;
    vertical-align:middle;
    margin-right: 5px;
    border-radius: 50%;
    object-fit: cover;
}

header .usercard{
    right: 0px;
    text-decoration: none;
    color: black;

    background-color: #5ba3f0;
    color: white;
    display: inline-block;

    padding: 2px 6px 2px 5px;
    border-radius: 5px;

    display: flex;
    gap: 4px;
    justify-self: end;
    align-items:  center;
    text-align: right;
}



header a{
    color: black;
    text-decoration: none;
}

header .usercard span{
    display: inline-block;
    position: relative;
}

header .nav-button{
    background-color: #f1f1f1;
    margin-right: 4px;
    background-color: #e9e9ed;
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 0.9rem;
}

header .nav-button:hover{
    background-color: #d0d0d7;
}


.header-icon{
    display: inline-block;
}

.header-icon svg{
    vertical-align:middle;
    height: 1rem;
    width: 1rem;
    margin-bottom: 1px;
}


header .usercard-displayname{
    top: -0.5px;
    font-size: 0.9rem;
}

header .usercard-username{
    top: -0.5px;
    font-size: 0.65rem;
    color: rgb(226, 243, 255);
}


@media (width < 800px) {
    :root{
        --body-width: 100%;
    }

    header{
        top: 0px;
        border-radius: 0px;
    }

    header::before, header::after{
        display: none;
    }

    .header-bg{
        height: 48px;
    }

    body > main{
        margin-top: 10px;
        min-height: calc(100dvh - 50px);
        margin-bottom: 0px;
        border-radius: 0px;
    }

    #posts{
        width: 100%;
        box-sizing: border-box;
        left: 0px;
        padding: 0px !important;
        
    }
}